/* line 7, ../sass/screen.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("wallpaper2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* The cover property fills the window regarless of its size... it changes image's size automatically. */
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/screen.scss */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  position: relative;
}

/* line 38, ../sass/screen.scss */
.button {
  border: none;
  padding: 5px;
  width: 75px;
  background-color: #9D8597;
  color: white;
}
/* line 34, ../sass/screen.scss */
.button:hover {
  cursor: pointer;
}

/* line 43, ../sass/screen.scss */
.header {
  background-color: white;
  opacity: 0.8;
  color: gray;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 48, ../sass/screen.scss */
.header h2 {
  margin: 0;
}
/* line 51, ../sass/screen.scss */
.header p {
  font-style: italic;
  font-size: 0.8em;
}

/* line 56, ../sass/screen.scss */
.search-div {
  background-color: white;
  opacity: 0.8;
  color: gray;
  padding: 15px;
  margin: 15px;
  text-align: center;
}

/* line 60, ../sass/screen.scss */
#search-input {
  padding: 4px;
}

/* line 63, ../sass/screen.scss */
.footer {
  background-color: white;
  opacity: 0.8;
  color: gray;
  padding: 15px;
  margin: 15px;
  padding: 5px;
  margin: 0 auto;
  font-size: 0.75em;
  width: 100%;
}
/* line 69, ../sass/screen.scss */
.footer p, .footer a, .footer div, .footer ul, .footer li, .footer a {
  margin: 2px;
}
/* line 72, ../sass/screen.scss */
.footer a {
  color: gray;
}
/* line 75, ../sass/screen.scss */
.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 400px) {
  /* line 84, ../sass/screen.scss */
  .header h2, .header p {
    font-size: 0.8em;
  }

  /* line 88, ../sass/screen.scss */
  .search-div {
    font-size: 0.8em;
  }
  /* line 90, ../sass/screen.scss */
  .search-div input {
    width: 100px;
  }
  /* line 93, ../sass/screen.scss */
  .search-div button {
    width: 55px;
    font-size: 0.8em;
  }
}
