/* line 9, ../sass/screen.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("wallpaper2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* The cover property fills the window regarless of its size... it changes image's size automatically. */
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  position: relative;
}

/* line 40, ../sass/screen.scss */
.results-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 45, ../sass/screen.scss */
.result {
  border: 1px solid gray;
  display: none;
  margin: 15px 5px 0 5px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 50, ../sass/screen.scss */
.result img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}
/* line 55, ../sass/screen.scss */
.result .flex-wrapper {
  margin: 0;
}
/* line 58, ../sass/screen.scss */
.result p {
  margin: 10px 0 10px 0;
}

/* line 65, ../sass/screen.scss */
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
/* line 68, ../sass/screen.scss */
.flex-wrapper a {
  color: gray;
  text-decoration: none;
}

/* line 73, ../sass/screen.scss */
.more-info {
  display: none;
  width: 100%;
  background-color: #0F7173;
  color: white;
  position: relative;
  z-index: 6;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 0.9em;
}
/* line 81, ../sass/screen.scss */
.more-info a {
  color: white;
}

/* line 88, ../sass/screen.scss */
.results-div {
  background-color: white;
  color: gray;
  padding: 15px;
  margin: 15px;
  font-size: 0.9em;
  display: none;
  z-index: 3;
}

/* line 94, ../sass/screen.scss */
.button {
  border: none;
  padding: 5px;
  width: 75px;
  background-color: #9D8597;
  color: white;
}
/* line 36, ../sass/screen.scss */
.button:hover {
  cursor: pointer;
}

/* line 99, ../sass/screen.scss */
.will-go {
  border: none;
  padding: 5px;
  width: 75px;
  width: 130px;
  font-size: 0.85em;
  background-color: #0F7173;
  color: white;
  margin: 5px;
}
/* line 36, ../sass/screen.scss */
.will-go:hover {
  cursor: pointer;
}

/* line 107, ../sass/screen.scss */
.will-not-go {
  border: none;
  padding: 5px;
  width: 75px;
  width: 130px;
  font-size: 0.85em;
  background-color: #F05D5E;
  color: white;
  margin: 5px;
}
/* line 36, ../sass/screen.scss */
.will-not-go:hover {
  cursor: pointer;
}

/* line 115, ../sass/screen.scss */
.more-info-button {
  border: none;
  padding: 5px;
  width: 75px;
  width: 130px;
  font-size: 0.85em;
  background-color: #9D8597;
  color: white;
  margin: 5px;
}
/* line 36, ../sass/screen.scss */
.more-info-button:hover {
  cursor: pointer;
}

/* line 123, ../sass/screen.scss */
.facebook {
  border: none;
  padding: 5px;
  width: 75px;
  width: 130px;
  font-size: 0.85em;
  background-color: #3B5998;
  color: white;
  margin: 5px;
}
/* line 36, ../sass/screen.scss */
.facebook:hover {
  cursor: pointer;
}

/* line 131, ../sass/screen.scss */
.header {
  background-color: white;
  color: gray;
  padding: 15px;
  margin: 15px;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 137, ../sass/screen.scss */
.header a {
  text-decoration: none;
  color: gray;
}
/* line 141, ../sass/screen.scss */
.header h2 {
  margin: 0;
}
/* line 144, ../sass/screen.scss */
.header p {
  font-style: italic;
  font-size: 0.8em;
}

/* line 149, ../sass/screen.scss */
.search-div {
  background-color: white;
  color: gray;
  padding: 15px;
  margin: 15px;
  opacity: 0.8;
  text-align: center;
}

/* line 154, ../sass/screen.scss */
#search-input {
  padding: 4px;
}

/* line 157, ../sass/screen.scss */
.radio {
  margin-top: 10px;
}

/* line 160, ../sass/screen.scss */
.footer {
  background-color: white;
  color: gray;
  padding: 15px;
  margin: 15px;
  padding: 5px;
  opacity: 0.8;
  font-size: 0.75em;
  position: relative;
  z-index: 1;
}
/* line 165, ../sass/screen.scss */
.footer p, .footer a, .footer div, .footer ul, .footer li, .footer a {
  margin: 2px;
}
/* line 168, ../sass/screen.scss */
.footer a {
  color: gray;
}
/* line 171, ../sass/screen.scss */
.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 400px) {
  /* line 182, ../sass/screen.scss */
  .header h2, .header p {
    font-size: 0.8em;
  }

  /* line 186, ../sass/screen.scss */
  .search-div {
    font-size: 0.8em;
  }
  /* line 188, ../sass/screen.scss */
  .search-div input {
    width: 100px;
  }
  /* line 191, ../sass/screen.scss */
  .search-div button {
    width: 55px;
    font-size: 0.8em;
  }
}
