$element-background: white;
$font-color: gray;
$button-color-generic: #9D8597;
$go-color: #0F7173;
$cancel-color: #F05D5E;

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url("wallpaper2.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    /* The cover property fills the window regarless of its size... it changes image's size automatically. */
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	position: relative;
}
@mixin basic {
	background-color: $element-background;
	opacity: 0.8;
	color: $font-color;
	padding: 15px;
	margin: 15px;
}
@mixin button {
	border: none;
	padding: 5px;
	width: 75px;
	&:hover {
		cursor: pointer;
	}
}
.results-div {
	@include basic;
	font-size: 0.9em;
}
.button {
	@include button;
	background-color: $button-color-generic;
	color: $element-background; 
}
.header {
	@include basic;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	h2 {
		margin: 0;
	}
	p {
		font-style: italic;
		font-size: 0.8em;
	}
}
.search-div {
	@include basic;
	text-align: center;
}
#search-input {
	padding: 4px;
}
.radio {
	margin-top: 10px;
}
.footer {
	@include basic;
	padding: 5px;
	font-size: 0.75em;
	p, a, div, ul, li, a {
		margin: 2px;
	}
	a {
		color: $font-color;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media screen and (max-width: 400px) {
	.header {
		h2, p {
			font-size: 0.8em;
		}
	}
	.search-div {
		font-size: 0.8em;
		input {
			width: 100px;
		}
		button {
			width: 55px;
			font-size: 0.8em;
		}
	}
}