$element-background: white;
$font-color: gray;
$button-color-generic: #9D8597;
$go-color: #0F7173;
$cancel-color: #F05D5E;
$more-info-background: #0F7173;

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url("wallpaper2.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    /* The cover property fills the window regarless of its size... it changes image's size automatically. */
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	position: relative;
}
@mixin basic {
	background-color: $element-background;
	color: $font-color;
	padding: 15px;
	margin: 15px;
}
@mixin button {
	border: none;
	padding: 5px;
	width: 75px;
	&:hover {
		cursor: pointer;
	}
}
.result {
	border: 1px solid gray;
	display: none;
	margin: 15px 5px 0 5px;
	height: 70px;
	img {
		width: 70px;
		height: 70px;
		margin-right: 15px;
	}
	.flex-wrapper {
		margin: 0;
	}
	p {
		margin: 10px 0 10px 0;
	}
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	a {
		color: $font-color;
		text-decoration: none;
	}
}
.more-info {
	display: none;
	width: 100%;
	background-color: $more-info-background;
	color: $element-background;
	position: relative;
	z-index: 6;
	padding: 20px;
	a {
		color: $element-background;
	}
	border-radius: 5px;
	border: 1px solid black; 
	font-size: 0.9em;
}
.results-div {
	@include basic;
	font-size: 0.9em;
	display: none;
	z-index: 3;
}
.button {
	@include button;
	background-color: $button-color-generic;
	color: $element-background; 
}
.will-go {
	@include button;
	width: 120px;
	font-size: 0.85em;
	background-color: $go-color;
	color: $element-background;
	margin: 5px; 
}
.more-info-button {
	@include button;
	width: 120px;
	font-size: 0.85em;
	background-color: $button-color-generic;
	color: $element-background;
	margin: 5px;
}
.header {
	@include basic;
	opacity: 0.8;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	h2 {
		margin: 0;
	}
	p {
		font-style: italic;
		font-size: 0.8em;
	}
}
.search-div {
	@include basic;
	opacity: 0.8;
	text-align: center;
}
#search-input {
	padding: 4px;
}
.radio {
	margin-top: 10px;
}
.footer {
	@include basic;
	padding: 5px;
	opacity: 0.8;
	font-size: 0.75em;
	p, a, div, ul, li, a {
		margin: 2px;
	}
	a {
		color: $font-color;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	position: relative;
	z-index:1;
}

@media screen and (max-width: 400px) {
	.header {
		h2, p {
			font-size: 0.8em;
		}
	}
	.search-div {
		font-size: 0.8em;
		input {
			width: 100px;
		}
		button {
			width: 55px;
			font-size: 0.8em;
		}
	}
}